{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Collaborator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/author">Author</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/topic" style="background-color: white; color: #013880;">Topic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/affiliation">Affiliation</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}

{% load static %}
<div style="width:100%; height: 180px;">
    <div class="info-affiliation" style="margin-top:40px; margin-left:65px; width:50%; float:left;">
        <div class="logo" style="width: 140px; float:left; height: 125px;">
            <img style="width:111px; height:111px;" src="{% static 'author/img/'|add:'topik'|add:topics.id_topic|add:'.png' %}" style="position: relative;" alt="Logo Afiliasi">
        </div>
        <div class="info-detail-affiliation" style=" margin-left:20px;">
            <p style="font-size:24px; color: #013880; margin-bottom:5px;"> <strong> {{ topics.topic_name }} </strong>  </p>
            <p style="font-size:15px;"> <strong style="font-size: 20px; color:#013880;"> <i class="far fa-newspaper"></i> {{ topics.total_publication }} </strong> Publications &nbsp; &nbsp; <strong style="font-size: 20px; color:#013880;"> <i class="fas fa-quote-left"></i> {{ topics.total_cite }} </strong> Citations &nbsp; &nbsp; <strong style="font-size: 20px; color:#013880;"> <i class="fas fa-user"></i> {{ topics.total_author }} </strong> Authors  </p>
            {% for subtopik in subtopik %}  
                <p style="font-size:15px; outline-style: solid; outline-color:black; color: #013880; outline-offset:2px; display:inline-block; margin-right:15px; background-color:white; outline-width:1px;"> {{ subtopik.subtopic_name }} </p>
            {% endfor %}
        </div>
    </div>

    <div class="data-over-time" style="float:left; background-color:white; border-radius:15px; width:42%; height:200px; margin-top:40px; padding:20px;">
        <P style="color:#013880; font-size:15px;"> <strong> {{ topics.topic_name }} data over time </strong> </P>
        <div style="width:45%;float:left;">
            <table style="font-size:12px; text-align:center; margin-left:20px; margin-right:20px; width:100%;">
                <thead>
                    <tr>
                        <th>
                            Year
                        </th>
                        <th>
                            Publications
                        </th>
                        <th>
                            Citation
                        </th>
                        <th>
                            Best Affiliation
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_sumcount %}
                        <tr>
                            <td>
                                {{ data.year }}
                            </td>
                            <td>
                                {{ data.pubcount }}
                                <i class="fas fa-arrow-circle-up" style="color:green;"></i>
                            </td>
                            <td>
                                {{ data.sumcite }}
                                <i class="fas fa-arrow-circle-down" style="color: red;"></i>
                            </td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/'|add:data.id_univ|add:'.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="width:45%;  float:left; margin-left:20px;">
            <table style="font-size:12px; text-align:center; margin-left:20px; margin-right:20px; width:100%;">
                <thead>
                    <tr>
                        <th>
                            Year
                        </th>
                        <th>
                            Publications
                        </th>
                        <th>
                            Citation
                        </th>
                        <th>
                            Best Affiliation
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_sumcount2 %}
                        <tr>
                            <td>
                                {{ data.year }}
                            </td>
                            <td>
                                {{ data.pubcount }}
                                <i class="fas fa-arrow-circle-up" style="color:green;"></i>
                            </td>
                            <td>
                                {{ data.sumcite }}
                                <i class="fas fa-arrow-circle-down" style="color: red;"></i>
                            </td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/'|add:data.id_univ|add:'.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br><br><br><br><br>
    <p style="margin-left:65px; color: #013880;"> <strong>Publications & Topics Over Time</strong> </p>
    <div class="visualisasiSVG" class="text-center" style="width:97%; height:600px; margin: 20px; background-color:white; border:1px solid gray; border-radius:20px;">
        <div class="filter" style="width:15%; float:left; margin-left:50px; margin-top:50px;">
            <form action="" method="POST">
                {% csrf_token %}
                <p>Filter By Topic: </p>
            {% for topics in subtopik %}
            <input type="checkbox" id="{{ topics.id_SubTopic }}" name="id_subtopik" value="{{ topics.id_SubTopic }}">
            <label for="{{ topics.id_SubTopic }}" style="font-size:12px; margin:0px;"> {{ topics.subtopic_name }}</label><br>
            {% endfor %}
            <input type="submit" value="Update" id="selection-button">    
            </form>
        </div>
        <div class="svg" style="width:55%; height:500px; float:left;" >
            <svg overflow='scroll' id='vis' width='1600' height='700' transform='scale(0.5) translate(-800 -200)' z-index='1'>
                <g>
                    <g class="axis" transform="translate(0,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2010
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(150,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2011
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(300,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2012
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(450,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2013
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(600,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2014
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(750,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2015
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(900,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2016
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(1050,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2017
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(1200,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2018
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(1350,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2019
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">
    
                        </line>
                    </g>
                    <g class="axis" transform="translate(1500,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2020
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">
    
                        </line>
                    </g>
                </g>
                <g>
                    {% for dat in data %}
                        <path
                            d="M {{dat.xAwalAtas}},{{dat.yAwalAtas}} C {{dat.xLengkung1}},{{dat.yLengkung1atas}} {{dat.xLengkung2}},{{dat.yLengkung2atas}} {{dat.xAkhirAtas}},{{dat.yAkhirAtas}} L {{dat.xAkhirBawah}},{{dat.yAkhirBawah}} C {{dat.xLengkung2}},{{dat.yLengkung2bawah}} {{dat.xLengkung1}},{{dat.yLengkung1bawah}} {{dat.xAwalBawah}},{{dat.yAwalBawah}}"
                            style="stroke-dasharray: 10, 10; stroke: gray; stroke-width: 0; fill-opacity: 0.6; cursor: pointer; fill: {{dat.Color}};"
                            opacity="1"> </path>
                        {% endfor %}
                </g>
            </svg>
        </div>
        <div class="top-3-topik" style="width:26%; float:right; text-align:center;  margin-top:90px;">
            <p style="text-align:center;">Jumlah Publikasi dalam 3 Tahun Terakhir</p>
            <div class="topik-1" style="border-radius: 20px; border:1px black solid; width: 95%;margin-bottom: 30px;">
                <p style="color:#013880; text-align:left; margin-left:20px; margin-right:20px; margin-bottom:0px;">Nanocomposite</p>
                <table style="margin-left:20px; margin-right:20px; width:100%; ">
                    <thead style="font-size:12px;">
                        <tr>
                            <th>Year</th>
                            <th>Publication</th>
                            <th>Citation</th>
                            <th>Best Affiliation</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:12px; text-align:center">
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="topik-1" style="border-radius: 20px; border:1px black solid; width: 95%;margin-bottom: 30px;">
                <p style="color:#013880; text-align:left; margin-left:20px; margin-right:20px; margin-bottom:0px;">Polymer</p>
                <table style="margin-left:20px; margin-right:20px; width:100%; ">
                    <thead style="font-size:12px;">
                        <tr>
                            <th>Year</th>
                            <th>Publication</th>
                            <th>Citation</th>
                            <th>Best Affiliation</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:12px; text-align:center">
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="topik-1" style="border-radius: 20px; border:1px black solid; width: 95%;">
                <p style="color:#013880; text-align:left; margin-left:20px; margin-right:20px; margin-bottom:0px;">Nickel</p>
                <table style="margin-left:20px; margin-right:20px; width:100%;">
                    <thead style="font-size:12px;">
                        <tr>
                            <th>Year</th>
                            <th>Publication</th>
                            <th>Citation</th>
                            <th>Best Affiliation</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:12px; text-align:center">
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>123</td>
                            <td>124</td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/1.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    </div>

<div class="publication-affi" style="margin-left:65px; margin-top:30px; width:60%; float:left;">
    <p style="color: #013880;"> <strong>Publications</strong> </p>
    {% if users.has_other_pages %}
                    <nav aria-label="Page navigation example" style="margin-bottom: 40px;">
                        <ul class="pagination justify-content-end">
                            {% if users.has_other_pages %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                {% if users.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ users.previous_page_number }}" tabindex="-1" style="color:#013880;">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                    
                                
                                {% for i in users.paginator.page_range %}
                                {% if users.number == i %}
                                    <li class="page-item active"><span class="page-link" style="background-color:#013880;">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a href="?page={{ i }}" class="page-link" style="color:#013880;">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                    
                                {% if users.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ users.next_page_number }}" style="color:#013880;">Next</a>
                                </li>
                                    {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
    <div class="filter" style="float:left;">
        Filter By: <br> 
        <form action="/affiliation/{{univs.id_univ}}" method="GET">
        {% for topik in subtopik %}
        <input type="checkbox" id="{{topik.subtopic_name}}" name="id_subtopik" value="{{topik.id_SubTopic}}">
        <label for="{{topik.subtopic_name}}" style="font-size:12px; margin:0px;">{{topik.subtopic_name}}</label><br>
        {% endfor %}
        <input type="submit" value="Update" id="selection-button" style="background-color: #013880; color:white; border:none; font-size:12px;">
        </form>
    </div>
    {% for paper in users %}
    <div class="paper" style="background-color:white; box-shadow: 1px 1px 8px gray; width: 500px; height:auto; float:right; margin-bottom:20px; padding-left:20px; padding-right:20px;">
        <p style="margin-top: 15px; font-size:15px; color: #013880; margin-bottom:0px;"> <strong> {{ paper.title }} </strong> </p>
        <p style="margin-bottom:5px; font-size:12px;"> {{ paper.year }} &nbsp; &nbsp; {{ paper.authors }}</p>
        <p style="font-size:12px; color: #013880;  outline-style: solid; outline-color:black; outline-offset:2px; display:inline-block; outline-width:1px;"> {{ paper.subtopic.subtopic_name }} </p>
    </div>
    {% endfor %}
</div>

<div class="info-per-topik" style="text-align:center;width:28%; float:right;  margin-right:65px;">
    <p style="text-align:left; margin-top:30px; color: #013880;"> <strong>Top Author</strong> </p>
    <div class="author-rekomen">
        <div style="width:100%;">
            {% for author in author %}
            <div class="author-rekomen1" style="text-align:center;height:250px; border-radius:20px; width:45%; background-color:white; padding:30px 20px; float:left; margin-right:20px; margin-bottom:20px;">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:90px; height:90px; border-radius: 50%;">
                <p style="color:#013880; font-size:13px; margin-bottom:5px;"> <strong> {{ author.name }} </strong> </p>
                <p style="font-size:13px; margin-bottom:5px;"> <i class="far fa-newspaper" style="color: #013880;"></i> {{ author.nilai_dominan1 }} Publications </p>
                <p style="font-size:13px; margin-bottom:5px;"> <i class="fas fa-quote-left" style="color: #013880;"></i> {{ author.citations }} Citations </p>
                <img style="width:26px; height:26px;" src="{% static 'author/img/'|add:'topik'|add:author.topik_dominan1.id_topic|add:'.png' %}" style="position: relative; float:left;" alt="Logo Topik Dominan 1">
                <p style="font-size:12px; color: #013880;  outline-style: solid; outline-color:black; outline-offset:2px; display:inline-block; outline-width:1px; margin-left:10px;"> {{ author.topik_dominan1.topic_name }} </p>
            
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}