{% extends "base.html" %}

{% block header %}
<style>

{% load static %}

    body{
        overflow-x: hidden;
    }

    .jumbotron{
        color: white;
        font-family: 'Quicksand', sans-serif;
        background-size: cover;
        margin-bottom: 50px;
    }

    .jumbotron .display-4{
        font-size: 40px;
    }

    .jumbotron .lead{
        font-size:20px;
    }

    .btn{
        background-color: #013880;
    }

    .search{
        margin-bottom: 70px;
    }

    .info-topik ,.topik-1, .topik-2, .topik-3{
        width: 10%;
        background-color: #fff;
        border-radius: 20px;
        padding: 12px;
        min-width: 200px;
        height: 420px;
        border: 1px solid black;
    }

    .topik-coba img{
        width:60px;
        height:60px;
        margin-right: 10px;
    }

    .topik-coba{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    p{
        margin: 0 !important;
    }

    .cobacoba2{
        padding: 20px;
        display: grid;
        grid-template-areas: 
        'filter svg last3years';
        grid-template-columns: 0.7fr 2fr 1.2fr;
        gap: 20px;
    }

    .cobacoba2 .filter{
        grid-area: filter;
        padding: 20px;
        border: 1px solid black;
        border-radius: 20px;
        background-color: white;
    }

    .cobacoba2 .svg{
        grid-area: svg;
        padding: 20px;
        border: 1px solid black;
        height: 585px;
        border-radius: 20px;
        background-color: white;
        min-width: 800px;
    }

    .cobacoba2 .last3years{
        grid-area: last3years;
        padding: 20px;
        border: 1px solid black;
        border-radius: 20px;
        background-color: white;
    }

    #circle {
        width: 15px;
        height: 15px;
        border-radius: 50%
    }

</style>

<script src="https://d3js.org/d3.v6.min.js"></script>
{% endblock %}

{% block content %}
{% load static %}

<div class="jumbotron" style="background-image: url({% static '/author/img/fotoits.jpg' %});">
    <div class="container">
      <h1 class="display-4" style="color: #fff;">Collaborator</h1>
      <p class="lead">Established: July 12, 2020</p>
    </div>
</div>

<div class="search">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1>Find Your Collaborator!</h1>
        <p>Enter title of your paper to easily find papers or authors that have similar field as yours.</p>
        <form action="/search/" method="post" class="text-center">
            {% csrf_token %}
          <div class="form-group" style="margin-top: 15px;">
              <label for="title">Title: </label>
              <input type="text" class="form-control" placeholder="Enter Title" id="title" name="title" >
          </div>
          <button type="Submit" class="btn btn-primary">Find Collaborator</button>
      </form>
      </div>
    </div>
  </div>

  <div class="cobacoba" style="display: flex; flex-wrap:wrap; justify-content:space-around; padding: 20px; align-items:stretch;">
    <div>
        <p style="font-family: 'Quicksand', sans-serif; text-align:center">Top 5 Topics by Affiliation by <strong style="color: #013880;" >Collaborator Finder</strong></p>
        <div class="svg" style="width:650px; background-color:white; margin-bottom: 20px; margin-top: 20px; border-radius: 20px; border: 1px solid black; padding: 10px;">
            <svg id="dataviz" height="400" width="800" transform=' translate(-100 0)'>
                
                <text x="279" y="64" fill="black">Kimia</text>
                <text x="428" y="160" fill="black">Kimia Organik</text>
                <text x="369" y="325" fill="black">HRD</text>
                <text x="166" y="325" fill="black">Konservasi</text>
                <text x="128" y="160" fill="black">Hukum</text>

                <circle cx="300" cy="200" r="20" stroke="black" stroke-width="1" fill-opacity='0' />
                <circle cx="300" cy="200" r="40" stroke="black" stroke-width="1" fill-opacity='0' />
                <circle cx="300" cy="200" r="60" stroke="black" stroke-width="1" fill-opacity='0' />
                <circle cx="300" cy="200" r="80" stroke="black" stroke-width="1" fill-opacity='0' />
                <circle cx="300" cy="200" r="100" stroke="black" stroke-width="1" fill-opacity='0' />
                <circle cx="300" cy="200" r="120" stroke="black" stroke-width="2" fill-opacity='0' />

                <polygon points="300,126.96 395.77733333333333,164.49633333333333 323.288,228.968 265.71833333333336,252.19 252.128,179.81866666666667" style="fill:green; fill-opacity:0.5;stroke:green;stroke-width:3" />
                <circle cx="300" cy="126.96" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="395.77733333333333" cy="164.49633333333333" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="323.288" cy="228.968" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="265.71833333333336" cy="252.19" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="252.128" cy="179.81866666666667" r="2" stroke="black" stroke-width="1" fill-opacity='1' />


                <polygon points="300,177.92000000000002 369.484,174.243 318.1766666666667,222.61 251.40266666666668,273.98400000000004 275.724,189.766" style="fill:yellow; fill-opacity:0.5;stroke:yellow;stroke-width:3" />
                <circle cx="300" cy="177.92000000000002" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="369.484" cy="174.243" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="318.1766666666667" cy="222.61" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="251.40266666666668" cy="273.98400000000004" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="275.724" cy="189.766" r="2" stroke="black" stroke-width="1" fill-opacity='1' />


                <polygon points="300,127.92 312.9533333333333,195.19833333333332 345.37333333333333,256.44 284.16566666666665,224.106 282.796,192.74733333333333" style="fill:red; fill-opacity:0.5;stroke:red;stroke-width:3" />
                <circle cx="300" cy="127.92" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="312.9533333333333" cy="195.19833333333332" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="345.37333333333333" cy="256.44" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="284.16566666666665" cy="224.106" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="282.796" cy="192.74733333333333" r="2" stroke="black" stroke-width="1" fill-opacity='1' />


                <polygon points="300,167.36 352.04533333333336,180.70733333333334 321.894,227.234 282.781,226.214 241.418,175.30366666666666" style="fill:blue; fill-opacity:0.5;stroke:blue;stroke-width:3" />
                <circle cx="300" cy="167.36" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="352.04533333333336" cy="180.70733333333334" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="321.894" cy="227.234" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="282.781" cy="226.214" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="241.418" cy="175.30366666666666" r="2" stroke="black" stroke-width="1" fill-opacity='1' />


                <polygon points="300,136.08 311.136,195.872 320.828,225.90800000000002 279.029,231.926 290.276,195.90066666666667" style="fill:lime; fill-opacity:0.5;stroke:lime;stroke-width:3" />
                <circle cx="300" cy="136.08" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="311.136" cy="195.872" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="320.828" cy="225.90800000000002" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="279.029" cy="231.926" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                <circle cx="290.276" cy="195.90066666666667" r="2" stroke="black" stroke-width="1" fill-opacity='1' />
                        
            </svg>
        </div>
    </div>

    <div style="width: 50%; min-width: 650px;">
        <p style="font-family: 'Quicksand', sans-serif; text-align:center">Top 3 Topics by <strong style="color: #013880;" >Collaborator Finder</strong></p>
        <div class="topik-coba" style="display: flex; flex-wrap:wrap; justify-content: space-between;">
            <div class="topik-1">
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top Trending Topic </strong> </p>
                <div class="text-left" style="display: flex; margin-bottom: 40px; align-items:center;">
                    <img src="{% static 'author/img/'|add:'topik'|add:topik_1.id_topic|add:'.png' %}" alt="Logo Afiliasi">
                    <div>
                        <p class="topic-name" style="margin-bottom: 0 !important;"> <strong> {{ topik_1.topic_name }} </strong></p>
                        <p style="font-size: 12px;"> <strong>{{ topik_1.total_publication }} Publications </strong> </p>
                    </div>
                </div>
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top {{ topik_1.topic_name }} Affiliation </strong> </p>
                {% for affi_1 in affi_1 %}
                <div class="text-left" style="display: flex; align-content:center; margin-bottom: 40px; align-items:center;">
                    <img src="{% static 'author/img/'|add:affi_1.id_univ|add:'.png' %}" alt="Logo Afiliasi">
                    <div>
                        <p class="affi-name" style="margin-bottom: 0 !important;"><strong> {{ affi_1.initial_univ }} </strong></p>
                        <p style="font-size: 12px; margin-bottom:0px; margin-top:0px;"> <strong>{{ affi_1.total_author }} Authors </strong> </p>
                        <p style="font-size: 12px;"> <strong>{{ affi_1.total_publication }} Publications </strong> </p>
                    </div>
                </div>
                {% endfor %}
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top {{ topik_1.topic_name }} Author </strong> </p>
                {% for author_1 in author_1 %}
                <div class="text-left" style="display: flex; align-content:center; align-items:center;">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; height:60px; border-radius: 50%;">
                    <div>
                        <p class="affi-name" style="margin-bottom: 0 !important;"><strong> {{ author_1.name }} </strong></p>
                        <p style="font-size: 12px; margin-bottom:0px; margin-top:0px;"> <strong>{{ author_1.nilai_dominan1 }} Publications </strong> </p>
                        <p style="font-size: 12px;"> <strong>{{ author_1.citations }} Citations </strong> </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="topik-2">
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top Trending Topic </strong> </p>
                <div class="text-left" style="display: flex; align-content:center; margin-bottom: 40px;">
                    <img src="{% static 'author/img/'|add:'topik'|add:topik_2.id_topic|add:'.png' %}" alt="Logo Afiliasi">
                    <div>
                        <p class="topic-name" style="margin-bottom: 0 !important;"> <strong> {{ topik_2.topic_name }} </strong></p>
                        <p style="font-size: 12px;"> <strong>{{ topik_2.total_publication }} Publications </strong> </p>
                    </div>
                </div>
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top {{ topik_2.topic_name }} Affiliation </strong> </p>
                {% for affi_2 in affi_2 %}
                <div class="text-left" style="display: flex; align-content:center; margin-bottom: 40px;">
                    <img src="{% static 'author/img/'|add:affi_2.id_univ|add:'.png' %}" alt="Logo Afiliasi">
                    <div>
                        <p class="affi-name" style="margin-bottom: 0 !important;"><strong> {{ affi_2.initial_univ }} </strong></p>
                        <p style="font-size: 12px; margin-bottom:0px; margin-top:0px;"> <strong>{{ affi_2.total_author }} Authors </strong> </p>
                        <p style="font-size: 12px;"> <strong>{{ affi_2.total_publication }} Publications </strong> </p>
                    </div>
                </div>
                {% endfor %}
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top {{ topik_2.topic_name }} Author </strong> </p>
                {% for author_2 in author_2 %}
                <div class="text-left" style="display: flex; align-content:center">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; height:60px; border-radius: 50%;">
                    <div>
                        <p class="affi-name" style="margin-bottom: 0 !important;"><strong> {{ author_2.name }} </strong></p>
                        <p style="font-size: 12px; margin-bottom:0px; margin-top:0px;"> <strong>{{ author_2.nilai_dominan1 }} Publications </strong> </p>
                        <p style="font-size: 12px;"> <strong>{{ author_2.citations }} Citations </strong> </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="topik-3">
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top Trending Topic </strong> </p>
                <div class="text-left" style="display: flex; align-content:center; margin-bottom: 40px;">
                    <img src="{% static 'author/img/'|add:'topik'|add:topik_3.id_topic|add:'.png' %}" alt="Logo Afiliasi">
                    <div>
                        <p class="topic-name" style="margin-bottom: 0 !important;"> <strong> {{ topik_3.topic_name }} </strong></p>
                        <p style="font-size: 12px;"> <strong>{{ topik_3.total_publication }} Publications </strong> </p>
                    </div>
                </div>
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top {{ topik_3.topic_name }} Affiliation </strong> </p>
                {% for affi_3 in affi_3 %}
                <div class="text-left" style="display: flex; align-content:center; margin-bottom: 40px;">
                    <img src="{% static 'author/img/'|add:affi_3.id_univ|add:'.png' %}" alt="Logo Afiliasi">
                    <div>
                        <p class="affi-name" style="margin-bottom: 0 !important;"><strong> {{ affi_3.initial_univ }} </strong></p>
                        <p style="font-size: 12px; margin-bottom:0px; margin-top:0px;"> <strong>{{ affi_3.total_author }} Authors </strong> </p>
                        <p style="font-size: 12px;"> <strong>{{ affi_3.total_publication }} Publications </strong> </p>
                    </div>
                </div>
                {% endfor %}
                <p class="text-center" style="margin-bottom: 10px !important;"> <strong> Top {{ topik_3.topic_name }} Author </strong> </p>
                {% for author_3 in author_3 %}
                <div class="text-left" style="display: flex; align-content:center">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; height:60px; border-radius: 50%;">
                    <div>
                        <p class="affi-name" style="margin-bottom: 0 !important;"><strong> {{ author_3.name }} </strong></p>
                        <p style="font-size: 12px; margin-bottom:0px; margin-top:0px;"> <strong>{{ author_3.nilai_dominan1 }} Publications </strong> </p>
                        <p style="font-size: 12px;"> <strong>{{ author_3.citations }} Citations </strong> </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>


<p style="font-family: 'Quicksand', sans-serif; text-align:center; margin-top: 40px !important;">Trending Topics by <strong style="color: #013880;" >Collaborator Finder</strong></p>
    <div class="cobacoba2">
        <div class="filter">
            <form action="/" method="POST">
                {% csrf_token %}
                <p style="margin-bottom: 15px !important;">Filter By Topic: </p>
            {% for topics in topik_filter %}
            <div class="form-check" style="margin-top:5px; margin-bottom: 5px;">
                <input class="form-check-input" type="checkbox" id="{{ topics.id_topic }}" name="id_topik" value="{{ topics.id_topic }}">
                <label class="form-check-label" for="{{ topics.id_topic }}" style="font-size:14px;">
                    {{ topics.topic_name }}
                </label>
              </div>
            {% endfor %}
            <input type="submit" value="Update" id="selection-button" style="background-color: #013880; color:white; border:none; font-size:15px;">    
            </form>
        </div>
        <div class="svg" style="position:relative;">
            <svg overflow='scroll' id='vis' width='1600' height='700' transform='scale(0.45) translate(-950 -300)' z-index='1'>
                <g>
                    <g class="axis" transform="translate(0,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2010
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(150,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2011
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(300,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2012
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(450,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2013
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(600,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2014
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(750,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2015
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(900,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2016
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(1050,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2017
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:1;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(1200,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2018
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(1350,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2019
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">
      
                        </line>
                    </g>
                    <g class="axis" transform="translate(1500,0)">
                        <text x="94.888889" y="15" text-anchor="end" style="font-weight:bold;">
                            2020
                        </text>
                        <line x1="100.88889" y1="25" x2="100.88889" y2="675" style="stroke:lightgray; stroke-width:2;">
      
                        </line>
                    </g>
                </g>
                <g>
                    {% for dat in data %}
                    <path
                        d="M {{dat.xAwalAtas}},{{dat.yAwalAtas}} C {{dat.xLengkung1}},{{dat.yLengkung1atas}} {{dat.xLengkung2}},{{dat.yLengkung2atas}} {{dat.xAkhirAtas}},{{dat.yAkhirAtas}} L {{dat.xAkhirBawah}},{{dat.yAkhirBawah}} C {{dat.xLengkung2}},{{dat.yLengkung2bawah}} {{dat.xLengkung1}},{{dat.yLengkung1bawah}} {{dat.xAwalBawah}},{{dat.yAwalBawah}}"
                        style="stroke-dasharray: 10, 10; stroke: gray; stroke-width: 0; fill-opacity: 0.6; cursor: pointer; fill: {{dat.Color}};"
                        opacity="1"> </path>
                    {% endfor %}
                </g>
            </svg>

            <div style="width: 80%; height: 80px; display: block; position: absolute; top: 85%; left: 50%; transform: translate(-50%, -85%); padding: 20px;">
                <div style="display: flex; flex-wrap: wrap; justify-content:center">
                    {% for warna,nama in legend %}
                        <div style="display: flex; margin: 5px 10px; align-items:center;">
                            <div id="circle" style="margin-right: 3px; background-color: {{ warna }};"></div>
                            <p style="color: {{ warna }}">
                                {{ nama }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="last3years">
            <p style="text-align:center; margin-bottom:15px !important;">Jumlah Publikasi dalam 3 Tahun Terakhir</p>
            <p style="color:#013880; text-align:left; margin-left:20px; margin-right:20px; margin-bottom:0px;"> {{ topik_1.topic_name }}</p>
        <div style="border-radius: 20px; width: 100%; margin-bottom:30px; padding-top:15px; padding-bottom:15px;">
            <table style="width:100%;">
                <thead style="font-size:12px;">
                    <tr>
                        <th class="text-center">Year</th>
                        <th class="text-center">Publication</th>
                        <th class="text-center">Citation</th>
                        <th class="text-center">Best Affiliation</th>
                    </tr>
                </thead>
                <tbody style="font-size:12px; text-align:center">
                    {% for data in topik1_data %}
                        <tr>
                            <td>{{ data.year }}</td>
                            <td>
                                {{ data.pubcount }}
                                <i class="fas fa-arrow-circle-{{ data.pubstat }}" style="color:{{ data.pubcolor }};"></i>
                            </td>
                            <td>
                                {{ data.sumcite }}
                                <i class="fas fa-arrow-circle-{{ data.citestat }}" style="color:{{ data.citecolor }};"></i>
                            </td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/'|add:data.id_univ|add:'.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if topik2_data != null %}
        <p style="color:#013880; text-align:left; margin-left:20px; margin-right:20px; margin-bottom:0px;">{{ topik_2.topic_name }}</p>
        <div style="border-radius: 20px; width: 100%;margin-bottom:30px; padding-top:15px; padding-bottom:15px;">
            <table style="width:100%;">
                <thead style="font-size:12px;">
                    <tr>
                        <th class="text-center">Year</th>
                        <th class="text-center">Publication</th>
                        <th class="text-center">Citation</th>
                        <th class="text-center">Best Affiliation</th>
                    </tr>
                </thead>
                <tbody style="font-size:12px; text-align:center">
                    {% for data in topik2_data %}
                        <tr>
                            <td>{{ data.year }}</td>
                            <td>
                                {{ data.pubcount }}
                                <i class="fas fa-arrow-circle-{{ data.pubstat }}" style="color:{{ data.pubcolor }};"></i>
                            </td>
                            <td>
                                {{ data.sumcite }}
                                <i class="fas fa-arrow-circle-{{ data.citestat }}" style="color:{{ data.citecolor }};"></i>
                            </td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/'|add:data.id_univ|add:'.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if topik3_data != null %}
        <p style="color:#013880; text-align:left; margin-left:20px; margin-right:20px; margin-bottom:0px;">{{ topik_3.topic_name }}</p>
        <div style="border-radius: 20px; width: 100%; padding-top:15px; padding-bottom:15px;">
            <table style="width:100%;">
                <thead style="font-size:12px;">
                    <tr>
                        <th class="text-center">Year</th>
                        <th class="text-center">Publication</th>
                        <th class="text-center">Citation</th>
                        <th class="text-center">Best Affiliation</th>
                    </tr>
                </thead>
                <tbody style="font-size:12px; text-align:center">
                    {% for data in topik3_data %}
                        <tr>
                            <td>{{ data.year }}</td>
                            <td>
                                {{ data.pubcount }}
                                <i class="fas fa-arrow-circle-{{ data.pubstat }}" style="color:{{ data.pubcolor }};"></i>
                            </td>
                            <td>
                                {{ data.sumcite }}
                                <i class="fas fa-arrow-circle-{{ data.citestat }}" style="color:{{ data.citecolor }};"></i>
                            </td>
                            <td>
                                <img style="width:15px; height:15px;" src="{% static 'author/img/'|add:data.id_univ|add:'.png' %}" style="position: relative;" alt="Logo Afiliasi">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        </div>
    </div>

    <footer id="page-footer" class="bg-white opacity-0" style="opacity: 1;">
        <div class="content py-20 font-size-xs clearfix">
            <div class="float-left" style="padding-top: 40px">
                <div class="info">© 2020 Institut Teknologi Sepuluh Nopember</div>
            </div>
            <div class="float-right">
                <img srcset="https://my.its.ac.id/assets/media/img/@2x/Logo-its.png 2x, https://my.its.ac.id/assets/media/img/Logo-its.png 1x" src="https://my.its.ac.id/assets/media/img/Logo-its.png" alt="Logo ITS" class="dark-logo mr-2" width="100px">
                <img srcset="https://my.its.ac.id/assets/media/img/@2x/logo-ITSsemangatbaru.png 2x, https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png 1x" src="https://my.its.ac.id/assets/media/img/logo-ITSsemangatbaru.png" width="100px" alt="Logo ITS Semangat Baru" class="dark-logo">
            </div>
        </div>
    </footer>

{% endblock %}

{% block script %}
<script>
        var svg = d3.select("#dataviz")
            svg.append("circle").attr("cx",600).attr("cy",128).attr("r", 6).style("fill", "green")
            svg.append("circle").attr("cx",600).attr("cy",150).attr("r", 6).style("fill", "yellow")
            svg.append("circle").attr("cx",600).attr("cy",172).attr("r", 6).style("fill", "red")
            svg.append("circle").attr("cx",600).attr("cy",194).attr("r", 6).style("fill", "blue")
            svg.append("circle").attr("cx",600).attr("cy",216).attr("r", 6).style("fill", "lime")
              
            svg.append("text").attr("x", 614).attr("y", 128).text("UGM").style("font-size", "15px").attr("alignment-baseline","middle")
            svg.append("text").attr("x", 614).attr("y", 150).text("IPB").style("font-size", "15px").attr("alignment-baseline","middle")
            svg.append("text").attr("x", 614).attr("y", 172).text("UI").style("font-size", "15px").attr("alignment-baseline","middle")
            svg.append("text").attr("x", 614).attr("y", 194).text("UnDip").style("font-size", "15px").attr("alignment-baseline","middle")
            svg.append("text").attr("x", 614).attr("y", 216).text("ITB").style("font-size", "15px").attr("alignment-baseline","middle")
</script>


{% endblock %}